.power-on {
  color: green;
}

.power-off {
  color: red;
}

.card-power-on {
  background-color: #93D993;
  text-align: center;

}

.card-power-off {
  background-color: #D5D8D5;
  text-align: center;
}
