<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Fermer</ion-button>
    </ion-buttons>
    <ion-title>Séance SPA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label >Date</ion-label>
      <ion-datetime id="date" formControlName="date"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Température souhaitée</ion-label>
      <ion-input id="first-name" type="number" formControlName="temp"></ion-input>
    </ion-item>
    <ion-button type="submit" class="ion-margin-start" [disabled]="!profileForm.valid" color="light">Ajouter</ion-button>
  </form>

</ion-content>

