<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span style="text-align: center">Accueil</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="jacError">
      <ion-col>
        <ion-card class="error-card">
          <ion-card-header>
            <ion-card-title>{{jacError.raison}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{jacError.time | date : 'dd/MM/yyyy HH:mm:ss'}}
          </ion-card-content>
          <ion-button (click)="deleteError()" fill="clear">Supprimer</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="command-item-list">
      <ion-col>
        <app-temparature-card label="Temperature actuelle"
                              dateLabel="Dernier relevé"
                              [temperatureLastDate]="jacuzziTemperatureActualCommand.getActualizeDate()"
                              [temperature]="jacuzziTemperatureActualCommand.getValue()"></app-temparature-card>
      </ion-col>
      <ion-col>
        <app-temparature-card label="Temperature cible"
                              dateLabel="Derniere modification"
                              [temperatureLastDate]="jacuzziTemperatureExpectedCommand.getActualizeDate()"
                              [temperature]="jacuzziTemperatureExpectedCommand.getValue()"></app-temparature-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <app-state-command [command]="jacuzziPowerCommand"></app-state-command>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="jacuzziPowerCommand.getValue()">
      <ion-col>
        <app-state-command [command]="jacuzziFilterCommand"></app-state-command>
      </ion-col>
      <ion-col>
        <app-state-command [command]="jacuzziHeaterCommand"></app-state-command>

      </ion-col>
      <ion-col>
        <app-state-command [command]="jacuzziBubbleCommand"></app-state-command>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <canvas #doubleLineCanvas></canvas>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
