<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Actions sur le jaccuzi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="main-command">
      <app-command-list-item [command]="jacuzziPowerCommand"></app-command-list-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item lines="none" class="command-item-list">
            <app-command-list-item [command]="jacuzziBubbleCommand" ></app-command-list-item>
          </ion-item>
          <ion-item lines="none" class="command-item-list">
            <app-command-list-item [command]="jacuzziHeaterCommand" ></app-command-list-item>
          </ion-item>
          <ion-item lines="none" class="command-item-list">
            <app-command-list-item [command]="jacuzziFilterCommand" ></app-command-list-item>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
